.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 40px;

  @media (min-width: 900px) {
  }

  &__main,
  &__aside {
    padding: 40px;
  }

  &__main {
    background-color: blue;
  }
  &__aside {
    background-color: red;
  }
}
