@use '../util' as *;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: rem(20);
  max-width: min(100% - rem(40), rem(1000));
  margin-inline: auto;

  @include breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__aside {
    padding: rem(40);
  }

  &__main {
    background-color: blue;

    @include breakpoint(medium) {
      background-color: var(--orange-color);
    }

    @include breakpoint(large) {
      background-color: var(--purple-color);
    }
  }
  &__aside {
    @include breakpoint-down(medium) {
      text-align: center;
    }
  }

  &__widget {
    padding: rem(16);

    &.green {
      background-color: green;
    }
    &.magenta {
      background-color: magenta;
    }
  }
}
